.basicLayout {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.basicLayout__header {
    margin-bottom: 2rem;
    text-align: center;
}

.basicLayout__content {
    display: flex;
    flex-direction: row
}

.basicLayout__content__taskList {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.basicLayout__content__brainDump, .brainDump {
    width: fit-content;
    margin-right: 10px;;
    height: fit-content;
}