.taskComponent {
    display: flex;
    flex-direction: row;
    width: 90%; 
    border-radius: 5px;
    margin: 5px auto;
    padding: 10px;
    gap: 10px;
    background-color: #ffffff;
}

.taskComponent__completed {
    display: flex;
    width: 20px;
    align-items: center;
    justify-content: center;
}

